<%- include('header') %>

<style>
  th,td{
    padding:10px;
    margin:5px;
  }
</style>

    <h1 class="text-center m-5" > Categorys of e-commerce app </h1>
<table border="5" align="center" >
  <tr>
    <th>
      No.
    </th>
    <th>
      Category
    </th>
    <th>
      Images
    </th>
    <th>
      update
    </th>
    <th>
      delete
    </th>
  </tr>
  <tr>
    <td>

    </td>
  </tr>
</table>
  
<%- include('footer') %>